.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 5vh;
}
* {
  margin: 0;
}
body {
  background-color: #b3b5b7;
}
.homepage {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #eaeff3;
  box-shadow: 0 0 6px 3px rgb(99, 96, 96);
  padding-bottom: 15px;
}

.homepage__image {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 190px;
  max-width: 400px;
}

.todo {
  border: 1px solid rgb(248, 248, 248);
  padding: 4px;
  padding-left: 17px;
  text-align: initial;
  display: flex;
  justify-content: space-between;
}

.deleteicon,
.updateicon {
  cursor: pointer;
}

.deleteicon:hover {
  color: rgb(250, 34, 34);
  transition: ease-out;
  transition-delay: 20ms;
}

.updateicon:hover {
  color: rgb(52, 52, 243);
  transition: ease-in;
}
